{{#if ext.skills.expert.length}}
<section class="section margin1">
	<header>
		<h2 class='section-title'>Expertise</h2>
	</header>
	<section id="skills-expert" class="skills skills-expert">
		{{#each ext.skills.expert }}
		<div class="item">
			{{#if name}}
			<h3 class="name">
				{{name}}
			</h3>
			{{/if}} {{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
</section>
{{/if}} {{#if ext.skills.other.length}}
<section class="section margin1">
	<header>
		<h2 class='section-title'>Other skills</h2>
	</header>
	<section id="skills-other" class="skills skills-other">
		{{#each ext.skills.other }}
		<div class="item">
			{{#if name}}
			<h3 class="name">
				{{name}}
			</h3>
			{{/if}} {{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
</section>
{{/if}}